header {
 font-size: 58px;
 font-family: raleway, sans-serif;
 color: black;
 padding-top: 100px;
 width: 100%;
 text-align: center;
 letter-spacing: 0.15em;
 font-weight: normal;
}
a {
text-align: center;
position: relative;
left: 460px;
letter-spacing: 0.15em;
display: inline-block;
}
a:link, a:visited {
    background-color: black;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: pink;
}
h5 {
  font-size: 1em;
  font-family: monospace;
  color: #1988;
  text-align: left;
}
p {
  font-size: 1em;
  font-family: monospace;
  color: #3089;
  text-align: left;
}
footer {
  font-size: 10px;
  font-family: raleway, sans-serif;
  font-weight: normal;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image1 {
  height: 50%;
  width: 50%;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image2 {
  height: 25%;
  width: 25%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
